body{
    color: #ffffff;
    background-color: #956989;
    font-family: Arial, sans-serif;
    font-size: 1.9em;
}
#header-nav{
    background-color: #b38fa8;
    color: #ffffff;
    border:0;
    border-radius:0;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #6e2c5a;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list a{
    color:#6e2c5a;
    font-size: 1.4em;
  }
#nav-list a:hover, #nav-list a:focus{
        color: #ffffff;
        background-color: #6a064c;
        box-shadow: 0 0 20px #222;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
        border: 1px solid #61122f;
}
.container h2{
    color: #6a064c;
    text-transform: uppercase;
}
h3{
    font-weight: bold;
    font-style: italic;
}
.container #Chicken,.container #Beef,.container #Sushi{
    
    color: #3b0831;
    border: 1px solid #61122f;
    border-radius: 5px;
    padding: 5px auto;
    margin: 15px auto;
    min-height:900px;
}
.container #Beef{
    background-color: #c254beb2;
}
.container #Sushi{
    background-color: #882691;
 
}
.container #Chicken{
    background-color: #eb88c4;
}

.container {
    width: 96vw;
}
